<a href="https://colab.research.google.com/github/student-data-science/5_Lesson-4-Matplotlib-seaborn.-SQL.-Flask-/blob/main/%D0%97%D0%B0%D0%B4%D0%B0%D0%BD%D0%B8%D0%B55_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
import matplotlib.pyplot as plt
import pandas as pd

In [21]:
df = pd.read_csv('data3.csv.1', sep=',', parse_dates=True, index_col=0)

In [25]:
print(df)

                          Популярность:
Языки программирования:
Java                               22.2
Python                             17.6
PHP                                 8.8
JavaScript                          8.0
C #                                 7.7
C ++                                6.7

In [26]:
s.plot('bar')
plt.show()

NameError: ignored